:root {
    --background: #8ee4af;
    --tile: #379683;
    --tile-used: rgba(80, 156, 141, 0.664); 
    --headers: #05386b;
    --text: #edf5e1;
    --modal: rgb(32, 92, 148);
    --modal-text: rgb(224, 224, 224);
    --button-text: #666666;
    --button-background: rgb(224, 224, 224);
    --button-correct: #379683;
}

.dark_theme {
    --headers: #5cdb95;
    --tile: #379683;
    --tile-used:rgba(80, 156, 141, 0.664);  
    --background: #05386b;
    --text: #edf5e1;
    --modal: #5cdb95;
    --modal-text: #379683;
    --button-text: #666666;
    --button-background: rgb(224, 224, 224);
    --button-correct: #379683;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--headers);
}

body {
    background-color: var(--background);
}

#header_div {
    display: flex;
    justify-content: center;
}

/*
* Loading page.
*/
#loading {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*
* Board.
*/
#board_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_board {
    width: 50pc;
    height: 35pc;
}

table {
    margin: auto;
    table-layout: fixed;
}

td.tile {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tile);
    border-radius: 5px;
    padding: 2px;
}

td.category_tile {
    color:var(--headers);
    font-weight: bold;
}

td.question_tile {
    color: var(--text);
}

td.question_tile.used {
    background-color: var(--tile-used);
}

/*
* Modal
*/
.modal {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 50pc; /* Full width */
    height: 35pc; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--modal);
    border-radius: 15px;
}

.modal_content {
    color: var(--modal-text);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    width: 90%; 
    overflow: scroll;
}

/* 
* Modal text styling.
*/

p.answer {
    display: none;
}

p.large {
    margin: 0;
    padding: 10px 0px;
}

.answer_description {
    display: none;
    font-size: medium;
    height: 100px;
    padding: 10px;
    overflow: scroll;
    border-radius: 10px;
    background-color: var(--background);
    color: var(--headers);
}

/*
* Button div styling.
*/

.post_reveal_buttons_div {
    display: none;
}

.buttons {
    padding: 10px;
}

.answer_buttons {
    display: flex;
    justify-content: space-around;
}

.wiki_button {
    display: none;
    justify-content: center;
}

#close_button {
    justify-content: center;
}

#close_button_div {
    display: none;
    justify-content: center;
}

/*
* Button styling. Shape & hover inspired by https://saruwakakun.com/en/css3-buttons#section2.
*/ 
button {
    width: 200px;
    height: 50px;
    font-size: large;
    display: inline-block;
    padding: 0.3em 1em;
    color: var(--button-text);
    background-color: var(--button-background);
    border: none;
    border-radius: 3px;
    transition: .4s;
}

button.color_switch {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

button.correct {
    color: var(--button-correct);
}

button.correct:hover {
    background-color: var(--button-correct);
    color: var(--button-background);
}

button.incorrect:hover {
    background-color: var(--button-text);
    color: var(--button-background);
}